<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Salário</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.name %></td>
        <td><%= income.salary %></td>
        <td><%= link_to t('actions.show'), income %></td>
        <td><%= link_to t('actions.edit'), edit_income_path(income) %></td>
        <td><%= link_to t('actions.destroy'), income, method: :delete, data: { confirm: 'Excluir Registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('actions.add'), new_income_path, class: 'btn btn-default btn-lg' %>
