<p>
  <strong><%= t('labels.income.show.name') %>:</strong>
  <%= @income.name %>
</p>

<p>
  <strong><%= t('labels.income.show.salary') %>:</strong>
  <%= @income.salary %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
