<%= render 'error_messages', record: @expense %>

<%= form_for @expense do |f| %>
  <div>
    <%= f.label :value, t('labels.expense.value') %>
    <%= f.text_field :value %>

    <%= f.label :description, t('labels.expense.description') %>
    <%= f.text_area :description %>

    <div class='submit-form'>
      <%= f.submit class: 'btn btn-default btn-lg' %>  <%= link_to t('actions.back'), root_path %>
    </div>
  </div>
<% end %>
