<div class="nested-fields">
  <div class="field">
    <%= f.label :portion_quantity %>
    <%= f.text_field :portion_quantity %>
  </div>
  <div class="field">
    <%= f.label :card %>
    <%= f.text_field :card %>
  </div>
  <%= link_to_remove_association "Remover", f %>
</div>
