<h1> Lista de despesas </h1>
  <p>
    <strong>Receita</strong>
    <%= @result %>
  </p>
<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.description, expense %></td>
        <td><%= expense.value %></td>
      </tr>
    <% end %>
  </tbody>
</tbody>

  <p>
    <strong>Total geral:</strong>
      <%= @total %> $ |
    <strong>Debito em cartões</strong>
      <%= @total_card %> $
  </p>


</table>
<%= link_to 'actions.new', new_expense_path %>
