<p>
  &#x2326; <strong>Salário liquido:</strong>
  <%= @income %>$ | <%= link_to 'Buscar por data', reports_index_path %>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr class="active">
        <td><%= link_to expense.description, expense %></td>
        <td><%= expense.value %></td>
      </tr>
    <% end %>
    <i>Gastos rescentes</i>
  </tbody>
</table>
  <p class="bg-danger">
    <strong>Total geral:</strong>
      <%= @total %>$ |
    <strong>Debito em cartão:</strong>
      <%= @total_card %>$
    <div class='receita'>
     <strong>Valor em caixa:</strong>
      <%= @result %>$ &#x232B;
    </div>
  </p>

<%= link_to t('actions.add'), new_expense_path, class: "btn btn-default btn-lg" %>
