  <p>
    <strong>Receita</strong>
    <%= @result %>
  </p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr class="active">
        <td><%= link_to expense.description, expense %></td>
        <td><%= expense.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <p>
    <strong>Total geral:</strong>
      <%= @total %> $ |
    <strong>Debito em cartões</strong>
      <%= @total_card %> $
  </p>



<%= link_to 'actions.new', new_expense_path %>
