<p>
  <strong><%= t('labels.expense.show.value') %>:</strong>
  <%= @expense.value %>
</p>

<p>
  <strong><%= t('labels.expense.show.description') %>:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong><%= t('labels.expense.show.user') %>:</strong>
  <%= @expense.user.email %>
</p>

<p>
  <% if @expense.portions.present? %>
    <strong>Detalhes do parcelamento:</strong>
    <% @expense.portions.each do |portion| %>
      <li> Parcelas: <%= portion.portion_quantity %></li>
      <li>Cartão: <%= portion.card %></li>
    <% end %>
  <% end %>
</p>

<p>
  <strong><%= t('labels.expense.show.date') %>:</strong>
  <%= @expense.created_at.strftime("%d %b. %Y") %>
</p>

<%= link_to t('actions.edit'), edit_expense_path, class: 'btn btn-default btn-lg' %>
<%= link_to t('actions.destroy'), expense_path(@expense), method: :delete,
   data: { confirm: 'Deseja excluir?' } %>

