<!DOCTYPE html>
<html>
  <head>
    <title>Moderador L&A</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="page">
      <%= render 'main_header' %>
      <%= render 'flash_messages' %>

      <%= yield %>

      <footer>
        <p>
          Moderador de Gastos Lenna & Aristóteles | Todos os direitos reservados
        </p>
      </footer>
    </div>
  </body>
</html>
